{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/cadastrarcurso.css' %}" />
    <title>Cadastrar curso</title>
  </head>
  <body>
    <header class="header-conteiner">
      <div class="header-left">
        <h3 class="nomeLogo">Icettech</h3>
        <img class="logotipo2" src="{% static 'imagens/LogoicettechPB.png' %}" alt="" />
      </div>
    </header>
    <nav class="navegação">
      <div class="links">
        <p>Perfil</p>
        <a href=""><img src="{% static 'imagens/Iconeprofessor2.png' %}" alt="" /></a>
      </div>
    </nav>
    <section class="curso-section">
      <div class="curso-title">
        <p>Gerenciar</p>
        <h1>cursos</h1>
      </div>
      <form action="{% url 'cadastrarcurso' %}" method="post">
        {% csrf_token %}
        <h4>Cadastrar Curso</h4>
        <div class="parametro">
          <div class="parametro_cadastro">
            <label for="disciplina">Nome do curso:</label>
            <input type="text" name="curso" id="campo_nomeC" />
          </div>
          <div class="parametro_cadastro">
            <label for="codigo">Código:</label>
            <input type="text" name="codigo" id="campo_codigo" />
          </div>
          <div class="parametro_cadastro">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="campo_nome" />
          </div>
        </div>
        <div class="subimit">
          <button type="submit">Finalizar</button>
        </div>
      </form>
    </section>
    <div>
      <button class="button_back">Voltar</button>
    </div>
  </body>
</html>
