@import url("https://fonts.googleapis.com/css2?family=Akshar&family=Montserrat:wght@500&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: nunito;
}

body {
  background-image: url(../imagens/Fundo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-style: normal;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.perfil {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.header-right p {
  color: white;
  font-weight: bold;
}

.nomeLogo {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.logotipo1 {
  filter: drop-shadow(6px 8px 4px rgba(0, 0, 0, 0.25));
}

.logotipo1 img {
  width: 250px; /* Novo valor de largura */
  height: 250px; /* Novo valor de altura */
}

.conteiner_1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.conteiner_1 h1,
.conteiner_1 p {
  margin: 0;
}

.small_text {
  text-align: center;
  color: white;
}

.botões {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botão-estilo {
  width: 400px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: white;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkslategrey;
}

.link_cadastro {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 390px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link_cadastro p {
  margin: 0; /* Remove margem padrão para evitar espaços extras */
}

.link_cadastro a {
  text-align: right;
  text-decoration: none;
}

.conteiner_2 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.conteiner_2 h1,
.conteiner_2 hr,
.conteiner_2 p {
  margin: 0;
}

.logotipo1_cadastro {
  position: absolute;
  left: 3%;
  top: 75%;
}

.logotipo1_cadastro img {
  width: 150px;
  height: 150px;
}

.conteiner-tipo_cadastro {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
  width: 300px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.identify_text {
  display: flex;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);

  justify-content: space-between;
  align-items: center;
  width: 270px;
  color: white;
}
.identify_text1 {
  display: flex;
  position: absolute;
  left: 58%;
  top: 60%;
  transform: translate(-50%, -50%);

  justify-content: space-between;
  align-items: center;
  width: 190px;
  color: white;
}
