{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/estilohome.css' %}" />
    <title>ICETTECH</title>
  </head>
  <body>
    <header class="header-container">
      <div class="header-left">
        <h3 class="nomeLogo">Icettech</h3>
        <img
          class="logo"
          src="{% static 'imagens/LogoicettechPB.png' %}"
          alt="Logo"
        />
      </div>
      <div class="header-right">
        <a class="perfil" href="{% url 'aboutus' %}">Sobre Nós</a>
      </div>
    </header>
    <section>
      <div class="conteiner_1">
        <div>
          <h1>A Chave para o Aprendizado é a Organização!</h1>
          <p>Sistema de Ensalamento para a Universidade Federal do Amazonas.</p>
        </div>
        <div class="logotipo1">
          <img src="{% static 'imagens/LogoicettechPB.png' %}" alt="Logo1" />
        </div>
        <div class="small_text">
          <p>Deseja apenas visuzalizar os ensalamentos?</p>
        </div>
        <div class="botões">
          <div class="v.ensalamento">
            <a href="{% url 'visualizarensalamento' %}"
              ><button class="botão-estilo">Acessar os Ensalamentos</button></a
            >
          </div>
          <div>
            <a href="{% url 'login' %}"
              ><button class="botão-estilo">Login</button></a
            >
          </div>
          <div class="link_cadastro">
            <p>Ja possui cadastro?</p>
            <a href="{% url 'tipocadastro' %}">Clique aqui!</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
