{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/v_feedback.css' %}" />
    <title>Visualizar Feedback</title>
  </head>
  <body>
    <header class="header-conteiner">
      <div class="header-left">
        <h3 class="nomeLogo">Icettech</h3>
        <img
          class="logotipo2"
          src="{% static 'imagens/LogoicettechPB.png' %}"
          alt=""
        />
      </div>
    </header>
    <nav class="navegação">
      <div class="links">
        <p>Perfil</p>
        <a href=""
          ><img src="{% static 'imagens/Iconesprofessor2.png' %}" alt=""
        /></a>
      </div>
    </nav>
    <section>
      <div class="title">
        <p>Visualizar</p>
        <h1>Feedback</h1>
      </div>
      <div class="conteiner-feedbacks"></div>
      <div>
        <button class="button_back">Voltar</button>
      </div>
    </section>
  </body>
</html>
