<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/v_usuario.css" />
    <!-- <link rel="stylesheet" href="{% static 'css/v_usuario.css' %}"> -->

    <title>Visualizar usuários</title>
  </head>
  <body>
    <header class="header-container">
      <div class="header-left">
        <h3 class="nomeLogo">Icettech</h3>
        <img class="logo" src="../imagens/LogoIcetTech 1.png" alt="Logo" />
        <!-- <img class="logotipo2" src="{% static 'imagens/LogoicettechPB.png' %}" alt="" /> -->
      </div>
      <div class="header-right">
        <p>Perfil</p>
        <a class="perfil" href="./Perfil_Usuário.html">
          <!-- {% static 'css/Perfil.html' %} -->
          <img
            class="perfil-icon"
            src="../imagens/Icones 2 (2).png"
            alt="Ícone Perfil"
          />
          <!-- src="{% static 'imagens/Iconesprofessor2.png' %}" -->
        </a>
      </div>
    </header>
    <section>
      <div class="conteiner-posicao">
        <div class="conteiner">
          <div class="title">
            <div>
              <h1>Visualizar</h1>
              <h1>Usuários</h1>
            </div>
            <div>
              <button class="back">Voltar</button>
            </div>
          </div>
          <div class="conteiner-usuários">
            <div class="tabela">
              <table>
                <tr class="top">
                  <div class="th-content">
                    <span class="bold-text">Mais recentes:</span>
                  </div>
                </tr>
                <tbody id="minha-tabela">
                  <tr>
                    <td colspan="3">Nenhum usuário encontrado.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Obtém a referência para a tabela
        var tabela = document.getElementById("minha-tabela");

        // Obtém todas as células <td> dentro da tabela
        var tds = tabela.getElementsByTagName("td");

        // Adiciona um evento de clique a cada célula <td>
        for (var i = 0; i < tds.length; i++) {
          tds[i].addEventListener("click", function () {
            // Redireciona para a página desejada
            window.location.href = "../HTML-faltando/v.usuario1.html";
          });
        }
      });
    </script>
  </body>
</html>
